<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据总览</title>
<style type="text/css">
.a {font-size: 50px;
}
.b {font-size: 40px;
}
</style>
</head>

<body>
<table width="1683" height="1196" border="1">
  <tr>
    <th width="1299" height="91" bgcolor="#3399FF" scope="col"><span class="b">数据总览</span></th>
    <th width="368" bgcolor="#3399FF" class="b" scope="col"><a href="http://127.0.0.1:8000/student/director/">返回导航</a></th>
  </tr>
  <tr>
    <th height="265" colspan="2" bgcolor="#FFFFFF" scope="col"><img src="https://t12.baidu.com/it/u=786365300,217981545&amp;fm=30&amp;app=106&amp;f=JPEG?w=640&amp;h=261&amp;s=BE366784DAE118052C1AE4C103007099" alt="" width="1669" height="261" /></th>
  </tr>
  <tr>
    <th height="830" bgcolor="#FFFFFF" scope="col"><div class="" style="width:1200px;height:auto;margin: 0 auto;margin-bottom: 20px;">

          <div class="dh">
      <div class="p_center" style="padding:10px 0px;">全国气温总览</div></div>
          <iframe src="http://www.weather.com.cn/forecast/index_map.shtml" width="1200" height="640"></iframe>
      </div></th>
    <th height="830" bgcolor="#FFFFFF" scope="col">&nbsp;</th>
  </tr>
</table>
<p></p>
</body>
</html>
