<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据总览</title>
<style type="text/css">
.a {font-size: 50px;
}
.b {font-size: 40px;
}

</style>
</head>

<body>
<table width="1683" height="1196" border="1">
  <tr>
    <th width="1299" height="91" bgcolor="#3399FF" scope="col"><span class="b">数据总览</span></th>
    <th width="368" bgcolor="#3399FF" class="b" scope="col"><a href="http://127.0.0.1:8000/student/director/">返回导航</a></th>
  </tr>
  <tr>
    <th height="265" colspan="2" bgcolor="#FFFFFF" scope="col"><img src="https://t12.baidu.com/it/u=786365300,217981545&amp;fm=30&amp;app=106&amp;f=JPEG?w=640&amp;h=261&amp;s=BE366784DAE118052C1AE4C103007099" alt="" width="1669" height="261" /></th>
  </tr>
  <tr>
    <th height="830" bgcolor="#FFFFFF" scope="col"><div class="" style="width:1200px;height:auto;margin: 0 auto;margin-bottom: 20px;">

          <div class="dh">
      <div class="p_center" style="padding:10px 0px;">全国气温总览</div></div>
          <iframe src="http://www.weather.com.cn/forecast/index_map.shtml" width="1200" height="640"></iframe>
    </div></th>
    <th height="830" bgcolor="#FFFFFF" scope="col"><div>
      <h1>台风动态</h1>
      <div>
        <ul>
          2024年第02号热带低压，马力斯，06月01日14时位于北纬23.3°、东经112.6°，最大风速13m/s，中心气压1002hPa
        </ul>
      </div>
    </div>
      <div>
        <h2><a target="_blank" href="http://typhoon.weather.com.cn/dwxx/typhoonlist.shtml?typhoonid=2402">马力斯</a></h2>
        <h2><a target="_blank" href="http://typhoon.weather.com.cn/dwxx/typhoonlist.shtml?typhoonid=2402">2402号热带低压</a></h2>
        <div>
          <table width="100%" cellspacing="1" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">实况信息<br>
                  2024-06-01 14:00</td>
                <td colspan="2">预报信息<br>
                  --</td>
              </tr>
              <tr>
                <td>时效</td>
                <td>实况</td>
                <td>24小时</td>
                <td>48小时</td>
              </tr>
              <tr>
                <td>经度</td>
                <td>E:112.6°</td>
                <td>--</td>
                <td>--</td>
              </tr>
              <tr>
                <td>纬度</td>
                <td>N:23.3°</td>
                <td>--</td>
                <td>--</td>
              </tr>
              <tr>
                <td>中心气压</td>
                <td>1002hPa</td>
                <td>--</td>
                <td>--</td>
              </tr>
              <tr>
                <td>最大风速</td>
                <td>13m/s</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div></th>
  </tr>
</table>
<p></p>
</body>
</html>