<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天气科普</title>
<style type="text/css">
.b {font-size: 40px;
}
.c {
	font-size: 16px;
}
.c {
	font-size: 36px;
}
.c {
	font-size: 48px;
}
.c {
	font-size: 48px;
}
</style>
</head>

<body>
<table width="1683" height="1132" border="1">
  <tr>
    <th width="1299" height="91" bgcolor="#3399FF" scope="col"><span class="b">气象科普</span></th>
    <th width="368" bgcolor="#3399FF" class="b" scope="col"><a href="http://127.0.0.1:8000/student/director/">返回主页</a></th>
  </tr>
  <tr>
    <th colspan="2" bgcolor="#FFFFFF" scope="col"><img src="https://t12.baidu.com/it/u=786365300,217981545&amp;fm=30&amp;app=106&amp;f=JPEG?w=640&amp;h=261&amp;s=BE366784DAE118052C1AE4C103007099" width="1669" height="261" /></th>
  </tr>
  <tr>
    <th bgcolor="#FFFFFF" scope="col"><div align="center">
      <ul>
        <li class="c"><a href="http://news.weather.com.cn/2022/09/3565878.shtml" target="_blank">气候之变：近十年我国已进入极端暖湿格局</a></li>
        <li class="c"><a href="http://www.weather.com.cn/life/2022/05/3537408.shtml" target="_blank">防灾减灾系列科普：收好这份暴雨避险手册</a></li>
        <li class="c"><a href="http://www.weather.com.cn/life/2022/05/3537111.shtml" target="_blank">防灾减灾系列科普：一图看懂冰雹出没规律</a></li>
        <li class="c"><a href="http://www.weather.com.cn/life/2022/05/3536835.shtml" target="_blank">防灾减灾系列科普：强对流避险指南请收好</a></li>
        <li class="c"><a href="http://news.weather.com.cn/2022/09/3564203.shtml" target="_blank">防灾减灾系列科普：一图了解干旱防御指南</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2024/05/3750985.shtml" target="_blank">地磁暴如约而至！极光盛宴在多地上演</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2024/05/3749584.shtml" target="_blank">地磁暴预警！</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2024/05/3748295.shtml" target="_blank">太阳连续大爆发！X1.3级、X1.2级、X4.5级耀斑三连暴</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2023/04/3617379.shtml" target="_blank">如何计划一次说走就走的极光旅行！</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2023/04/3617370.shtml" target="_blank">新疆现罕见极光？竟是近20年最大地磁暴爆发！</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2016/12/2629592.shtml" target="_blank">第四届全球华人空间/太空天气科学大会</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2015/06/yw/2346136.shtml" target="_blank">空间天气科普进西部——&ldquo;空间天气日&rdquo;大型科普活动系列报道第二季</a></li>
        <li class="c"><a href="http://www.weather.com.cn/space/2015/06/yw/2329048.shtml" target="_blank">&ldquo;空间天气日&rdquo;大型科普活动系列－第一季</a></li>
      </ul>
    </div></th>
    <th height="757" bgcolor="#FFFFFF" scope="col"><div>
      <h1>科普专题</h1>
      <dl>
        <dt><a href="http://www.weather.com.cn/zt/kpzt/3703684.shtml" target="_blank"><img src="http://i.weather.com.cn/images/cn/zt/kpzt/2024/03/29/20240329093027EC0CCC01668A10AB32DA4676C83AE94E_s.jpg" width="364" height="259" /></a></dt>
        <dd>
          <h3><a href="http://www.weather.com.cn/zt/kpzt/3703684.shtml" target="_blank">2024年世界气象日</a></h3>
        </dd>
      </dl>
      <div></div>
      <ul>
        <li><a href="http://www.weather.com.cn/zt/kpzt/3603859.shtml" target="_blank">2023年世界气象日</a></li>
        <li><a href="http://www.weather.com.cn/zt/kpzt/3525766.shtml" target="_blank">2022年世界气象日</a></li>
      </ul>
    </div></th>
  </tr>
</table>
</body>
</html>
