<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图标查询</title><script src="/static/echarts.js"></script>
<style type="text/css">
.b {font-size: 40px;
}
.c {
	font-size: 16px;
}
.c {
	font-size: 36px;
}
</style>
</head>

<body>
<table width="1683" height="780" border="1">
  <tr>
    <th width="1299" height="91" bgcolor="#3399FF" class="c" scope="col">图表查询</th>
    <th width="368" bgcolor="#3399FF" class="b" scope="col"><a href="http://127.0.0.1:8000/student/director/">返回上级</a></th>
  </tr>
  <tr>
    <th height="265" colspan="2" bgcolor="#FFFFFF" scope="col"><img src="https://t12.baidu.com/it/u=786365300,217981545&amp;fm=30&amp;app=106&amp;f=JPEG?w=640&amp;h=261&amp;s=BE366784DAE118052C1AE4C103007099" width="1669" height="261" /></th>
  </tr>
  <tr>
    <th height="30" bgcolor="#FFFFFF" class="b" scope="col"><div align="center"><a href="http://127.0.0.1:8000/student/nanjing/">南京</a></div></th>
    <th height="3037" rowspan="13" bgcolor="#FFFFFF" scope="col"><div id="main" style="width: 400px;height:800px;"></div></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/wuxi/">无锡</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/yancheng/">盐城</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/nantong/">南通</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/suzhou/">苏州</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/yangzhou/">扬州</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/lianyungang/">连云港</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/zhenjiang/">镇江</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/taizhou/">泰州</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/changzhou/">常州</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/huaian/">淮安</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/suqian/">宿迁</a></th>
  </tr>
  <tr class="b">
    <th height="30" bgcolor="#FFFFFF" scope="col"><a href="http://127.0.0.1:8000/student/xuzhou/">徐州</a></th>
  </tr>
</table>
<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
// 指定图表的配置项和数据
const option = {
    graphic: {
        elements: [
            {
                type: 'text',
                left: 'center',
                top: 'center',
                style: {
                    text: '启动',
                    fontSize: 160,
                    fontWeight: 'bold',
                    lineDash: [0, 200],
                    lineDashOffset: 0,
                    fill: 'transparent',
                    stroke: 'rgba(153,0,255,0.84)',
                    lineWidth: 1
                },
                keyframeAnimation: {
                    duration: 200,
                    loop: true,
                    keyframes: [
                        {
                            percent: 0.7,
                            style: {
                                fill: 'transparent',
                                lineDashOffset: 200,
                                lineDash: [200, 0]
                            }
                        },
                        {
                            // Stop for a while.
                            percent: 0.8,
                            style: {
                                fill: 'transparent'
                            }
                        },
                        {
                            percent: 1,
                            style: {
                                fill: 'black'
                            }
                        }
                    ]
                }
            }
        ]
    }
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
</script>
</body>
</html>

