<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻</title>
<style type="text/css">
.b {font-size: 40px;
}
.a {
	font-size: 48px;
}
</style>
</head>

<body>
<table width="1683" height="1209" border="1">
  <tr>
    <th width="1298" height="91" bgcolor="#3399FF" scope="col"><span class="b">最新时讯</span></th>
    <th width="369" bgcolor="#3399FF" class="b" scope="col"><a href="http://127.0.0.1:8000/student/director/">返回导航</a></th>
  </tr>
  <tr>
    <th height="269" colspan="2" bgcolor="#FFFFFF" scope="col"><img src="https://t12.baidu.com/it/u=786365300,217981545&amp;fm=30&amp;app=106&amp;f=JPEG?w=640&amp;h=261&amp;s=BE366784DAE118052C1AE4C103007099" alt="" width="1669" height="261" /></th>
  </tr>
  <tr>
    <th rowspan="3" bgcolor="#FFFFFF" scope="col"><div>
      <p class="a"><a href="http://news.weather.com.cn/2024/07/3800412.shtml" target="_blank">黄淮明起较强降雨再袭 南方高温成片出现</a></p>
      <p class="a"><a href="http://news.weather.com.cn/2024/07/3801153.shtml" target="_blank"><img src="https://i.i8tq.com/newzixun/huang.jpg" /> 高温</a> <a href="http://news.weather.com.cn/2024/07/3801416.shtml" target="_blank"><img src="https://i.i8tq.com/newzixun/lan.jpg" /> 暴雨</a> <a href="http://news.weather.com.cn/2024/07/3801456.shtml" target="_blank">强对流</a> <a href="http://news.weather.com.cn/2024/07/3801154.shtml" target="_blank">大风</a> <a href="http://news.weather.com.cn/2024/07/3801053.shtml" target="_blank">地质灾害</a></p>
      <p class="a"><a href="http://news.weather.com.cn/2024/07/3801161.shtml" target="_blank">北京 | 周末雷阵雨频繁出没 最高气温33℃至34℃</a></p>
      <p class="a"><a href="http://news.weather.com.cn/2024/07/3801361.shtml" target="_blank">河南 | 今天多地仍有雨 明起再迎新一轮降雨过程</a></p>
      <p class="a"><a href="http://news.weather.com.cn/2024/07/3801534.shtml" target="_blank">湖南 | 大部晴天间多云 高温发展最高气温37℃</a></p>
      <p class="a"><a href="http://products.weather.com.cn/sk.html?page=YB&amp;type=YB_JSL_024" target="_blank">降水预报</a> <a href="http://products.weather.com.cn/yb.html?page=YB&amp;type=YB_TQQS_3D" target="_blank">未来三天天气预报 </a><a href="http://products.weather.com.cn/yb.html?page=YB&amp;type=YB_TQQS_10D" target="_blank">未来十天天气预报</a></p>
    </div>
      <div>
        <p class="a"><a href="http://news.weather.com.cn/2024/07/3800068.shtml" target="_blank">小暑节气看哪里雨热俱盛开启桑拿模式</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/07/3798336.shtml" target="_blank">消暑大作战！全国吃冰指数地图来了</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/07/3798638.shtml" target="_blank">大数据告诉你暴雨是否越来越多了</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3793724.shtml" target="_blank">夏日小清新！2024全国赏荷地图出炉</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3784029.shtml" target="_blank">夏至哪里即将进入一年中高温最多时节？</a></p>
      </div>
      <div>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3794430.shtml" target="_blank">哈萨克斯坦超6.7万受洪灾民众重返家园</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3791655.shtml" target="_blank">马来西亚 | 基纳巴卢山发生山体滑坡</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3790711.shtml" target="_blank">印度 | 高温炙烤 3月以来疑似中暑病例超4万例</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3784380.shtml" target="_blank">厄瓜多尔 | 中部山体滑坡致至少6人死亡</a></p>
        <p class="a"><a href="http://news.weather.com.cn/2024/06/3775599.shtml" target="_blank">南非 | 西开普省遭特大暴雨袭击 大批民众流离失所</a></p>
    </div>      <p>&nbsp;</p></th>
    <th height="63" bgcolor="#FFFFFF" scope="col"><img src="https://i.i8tq.com/newzixun/location.png" alt="" /><a href="http://www.weather.com.cn/weather1d/101190301.shtml#dingzhi_first" target="_blank">镇江</a></th>
  </tr>
  <tr>
    <th height="219" bgcolor="#FFFFFF" scope="col"><a href="http://www.weather.com.cn/alarm/newalarmcontent.shtml?file=10119-20240705152807-0703.html" target="_black">
      <div><img src="https://i.tq121.com.cn/i/alarm/alarm_icon_386/0703.png" alt="" width="119" height="101" />
        <p>江苏省发布高温橙色预警</p>
        <p>2024-07-05 15:28发布</p>
      </div>
      <div></div>
    </a></th>
  </tr>
  <tr>
    <th height="553" bgcolor="#FFFFFF" scope="col"><div>
      <div>
        <div>
          <div>
            <table width="358" height="531" border="1">
              <tr>
                <th height="74" colspan="2" scope="col">生活指数</th>
                </tr>
              <tr>
                <td width="176"><img src="https://i.i8tq.com/newzixun/shushi.png" alt="" />
                    <div>
                      <p>舒适度</p>
                      <p>较不舒适</p>
                    </div>                  </td>
                <td width="166"><img src="https://i.i8tq.com/newzixun/chuanyi.png" alt="" />
                    <div>
                      <p>穿衣</p>
                      <p>短袖</p>
                    </div>                  </td>
              </tr>
              <tr>
                <td height="242"><img src="https://i.i8tq.com/newzixun/wuran.png" alt="" />
                    <div>
                      <p>空气污染</p>
                      <p>良</p>
                    </div>                  </td>
                <td><img src="https://i.i8tq.com/newzixun/ganmao.png" alt="" />
                    <div>
                      <p>感冒</p>
                      <p>少发</p>
                    </div>                  </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div></th>
  </tr>
</table>
</body>
</html>
