<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<style type="text/css">
.b {font-size: 40px;
}
</style>
</head>

<body>
<table width="1683" height="960" border="1">
  <tr>
    <th width="1303" height="91" bgcolor="#3399FF" scope="col"><span class="b">用户注册</span></th>
    <th width="364" bgcolor="#3399FF" class="b" scope="col"><a href="http://127.0.0.1:8000/student/director/">返回导航</a></th>
  </tr>
  <tr>
    <th height="265" colspan="2" bgcolor="#FFFFFF" scope="col"><img src="https://t12.baidu.com/it/u=786365300,217981545&amp;fm=30&amp;app=106&amp;f=JPEG?w=640&amp;h=261&amp;s=BE366784DAE118052C1AE4C103007099" alt="" width="1669" height="261" /></th>
  </tr>
  <tr>
    <th height="594" colspan="2" bgcolor="#FFFFFF" scope="col"><div class="future6Forecast" style="height:auto;">
      <div id="tab_con1">
        <div class="future6ForecastBox" style="display:block;">
          <p>&nbsp;</p>
          <p>注册系统</p>
          <p>
<label for="ua">用户名：</label><input type="text" name="uname"
id="ua"/>
</p>
<p>
<label for="pd">密&emsp;码：</label><input type="password" name="pwd"
id="pd" >
</p>
<p>
<input type="submit" value="注册">
          <p><a href="http://127.0.0.1:8000/student/login/">已有帐号？</a><a href="http://127.0.0.1:8000/student/register/"></a></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div></th>
  </tr>
</table>
</body>
</html>
